html {
    height: 100%;
    background-color: #b4d0c7a1;
  }
  
  body {
    margin-left: 6%;
    margin-right: 6%;
    
  }
  
  header {
    width:94%;
    height:28%;
    background-image: url("./images/flags.png"); 
    background-size:cover;
    margin: auto;
    padding: 5px;
    border-top: 10px;
    border-bottom: 10px;
    border: 3px rgb(0, 0, 0) solid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .header {
    color: #156f71;
    text-align: center;
    padding: 5px;
  }
  
  h1.header {
    padding: 0px;
    margin: 13px;
    margin-top: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-shadow: 3px 3px black;
    font-size: 40pt;
    margin-bottom: 3px;
    cursor: pointer;
    width:auto;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 48%;
    transform: translateX(-50%);
    
  }
  
  h4.header {
    margin: 5px;
    font-weight: bold;
    font-family: optima;
    color: black;
    font-size: 15px;
    margin-bottom: 0px;
  }
  
  p.header {
    margin-top: 2px;
    font-family: optima;
    font-weight: lighter;
    font-size: medium;
    margin-bottom: 19px;
  }

  #subHeader {
    color: black;
    font-weight:600;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-size: 20pt;
  }

  #entry {
    background-color: rgba(223, 229, 230, 0.56);
    width: 62%;
    margin:auto;
    margin-bottom: 10px;
    text-align: center;
    color:rgb(0, 0, 0);
    font-style: italic;
    font-family: optima;
    margin-top: 14px;
    font-size: larger;
    padding: 6px;
    border: dotted rgb(7, 6, 6) 2px;
    border-style: groove;
  }

  #flag {
    color: black;
    /* font-weight:600; */
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 80pt;
    margin-bottom: 12px;
    margin-top: 15px;
  }
  
  h1#name {
    text-align: center;
    font-family: optima;
    font-style: italic;
    color: #156f71;
    margin-bottom: 12px;
    margin-top: 15px;
    text-shadow: 3px 3px black;
    font-size: 52pt;
  }
  
  #searchBtn {
    border: 2.3px rgb(0, 0, 0) solid;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 8px;
    margin: 8px;
    font-weight:500;
    border-radius: 10%;
    font-family: optima;
    background-color: rgba(212, 216, 217, 0.069);
    border: 3px, rgba(0, 213, 255, 0.639);
  }