html {
  height: 100%;
  background-color: #a6cbbe9d;
}

body {
  margin-left: 6%;
  margin-right: 6%;
}

header {
  width: 94%;
  height: 28%;
  background-image: url("./images/form-background.png");
  background-size: cover;
  margin: auto;
  padding: 5px;
  border-top: 10px;
  border-bottom: 10px;
  border: 3px rgb(0, 0, 0) solid;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  color: #156f71;
  text-align: center;
  padding: 5px;
}

h1.header {
  padding: 0px;
  margin: 13px;
  margin-top: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  text-shadow: 2px 2px black;
  font-size: 40pt;
  margin-bottom: 3px;
  cursor: pointer;
  width: auto;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 48%;
  transform: translateX(-50%);
}

h4.header {
  margin: 5px;
  font-weight: bold;
  font-family: optima;
  color: black;
  font-size: 15px;
  margin-bottom: 0px;
}

p.header {
  margin-top: 2px;
  font-family: optima;
  font-weight: lighter;
  font-size: medium;
  margin-bottom: 19px;
}

#subHeader {
  color: black;
  font-weight: 600;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  font-size: 20pt;
}

#entry {
  background-color: rgba(223, 229, 230, 0.56);
  width: 62%;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-style: italic;
  font-family: optima;
  margin-top: 14px;
  font-size: larger;
  padding: 6px;
  border: dotted rgb(7, 6, 6) 2px;
  border-style: groove;
}

#flag {
  color: black;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 80pt;
  margin-bottom: 12px;
  margin-top: 15px;
}

h1#name {
  text-align: center;
  font-family: optima;
  color: #156f71;
  margin-bottom: 12px;
  margin-top: 15px;
  text-shadow: 1.5px 1.5px black;
  font-size: 40pt;
}

#searchBtn {
  border: 2.3px rgb(0, 0, 0) solid;
  font-weight: bold;
  cursor: pointer;
  padding: 17px;
  padding: 8px;
  cursor: pointer;
}

.button {
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 8px;
  font-weight: 600;
  font-family: optima;
  background-color: rgba(34, 92, 106, 0.069);
}

.buttons {
  visibility: hidden;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
  padding: 7px;
  display: none;
  border: 2px black;
  border-style: solid;
  width: fit-content;
}

#formInput {
  color: rgb(0, 0, 0);
  background-color: #b4d0c775;
  border: 2px rgb(0, 0, 0) solid;
  font-family: optima;
}

::placeholder {
  color: rgba(0, 0, 0, 0.75);
  opacity: 1;
}

.list-header {
  text-align: center;
  font-family: optima;
  font-style: italic;
  color: #156f71;
  margin-bottom: 12px;
  margin-top: 15px;
  text-shadow: 1px 1px black;
  font-size: 30pt;
}

#countryFacts {
  visibility: hidden;
}

#topline {
  height: 1px;
  background-color: rgba(178, 172, 172, 0.762);
  border: none;
  margin-bottom: 20px;
}

.info {
  text-align: center;
  list-style-position: inside;
  font-family: optima;
  border: 2px black solid;
  padding: 15px;
  margin: 15px;
  text-indent: 10px;
  background-color: rgba(255, 255, 255, 0.096);
  padding-left: 30px;
  padding-right: 30px;
  margin: 13px;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
  width: auto;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 48%;
  transform: translateX(-50%);
}

#curiousFacts:first-child {
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
}

.item-list {
  line-height: 30px
}

.info:first-child {
  margin-top: 0;
  padding: 5px 10px 5px 25px;
  list-style: none;
  margin: 0;
  vertical-align: middle;
}

.nav {
  padding: 17px;
  border: 1px black dotted;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.nav:hover {
  font-style: italic;
  border: 1px black solid;
}

ul {
  text-align: left;
  padding-left: 30%;
}